<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Restaurant</title>
</head>
<body>
    <h1><%= restaurant.name %></h1>
    <div class="contrainer">
        <% if(restaurant.photo !== null){ %>
            <div class="col-12">
                <img class="mx-auto d-block rounded img-fluid" style="width:80%" src="data:<%= restaurant.mimetype %>;base64, <%= restaurant.photo %> ">
            </div>
        <% } %>
        <p>
        <label class="badge badge-info">Cuisine: </label><%= restaurant.cuisine %></p>
        <label class="badge badge-info">Borough: </label><%= restaurant.borough %></p>
        <label class="badge badge-info">Street: </label><%= restaurant.address.street %></p>
        <label class="badge badge-info">Building: </label><%= restaurant.address.building %></p>
        <label class="badge badge-info">Zipcode: </label><%= restaurant.address.zipcode %></p>
        <label class="badge badge-info">GPS: </label>[<%= restaurant.address.coord.latitude %>, <%= restaurant.address.coord.longitude %>]</p>
        <label class="badge badge-info">Rating: </label><%= restaurant.rating %><p></p>
        
        <p><label class="badge badge-info">Created by: </label><%= restaurant.owner%></p><p>
        <p><a href="/restaurant/edit?_id=<%= restaurant.restaurant_id %>">Edit</a></p>
        <p><a href="/restaurant/delete?_id=<%= restaurant.restaurant_id %>&owner=<%= restaurant.owner %>">Delete</a></p>
        <p><a href="/restaurant/map?lat=<%= restaurant.address.coord.latitude %>&lon=<%= restaurant.address.coord.longitude%>">Map</a><p>    
        <p><a href="/">Home</a><p>
    </div>
</body>
</html>